$cBlueAccent: #4219d0;
$cYellowSecondAccent: #f4ba47;
$cGrayPrimary: #0f0f11;
$cGraySecondary: #89939a;
$cGrayIcon: #b4bdc3;
$cGrayElements: #e2e6e9;
$cWhiteHower: #fafbfc;
$cWhite: #fff;
$cGreen: #27ae60;
$cRed: #eb5757;
