.favorites__wraper {
  margin-left: 16px;
  display: flex;
  justify-content: center;
}

.favorites__text {
  font-size: 30px;
  font-weight: 700;
}

.fav__item {
  margin-right: 17px;
  border: 1px solid transparent;
}
