.homeLoaderSpinner {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 300px;
}

.loader__custom {
  height: 100px;
  width: 100px;

  border-radius: 50%;
  border: 7px dotted $cBlueAccent;
  border-right-color: transparent;
  animation: spinAround 1700ms infinite linear;
}
