.product-wrapper {
  margin-left: 21px;
  margin-right: 17px;
}

.product__navigation {
  display: flex;
  flex-direction: row;
  text-align: center;
  height: 25px;
  align-items: center;
  margin: 25px 0 28px;

  &-vector {
    margin-right: 13px;
  }

  &-link {
    margin-right: 13px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    color: $cGrayPrimary;
    transition: color 0.3s;

    &:hover {
      color: $cGrayPrimary;
    }
  }

  &-home {
    margin: 4px 18px 0 0;
  }

  &-phone {
    text-transform: capitalize;
    font-family: "Mont", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: $cGraySecondary;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.product__back {
  display: flex;
  align-self: center;

  &-vector {
    margin-left: 5px;
  }

  &Btn {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    color: $cGraySecondary;
    margin-left: 9px;
    transition: color 0.3s;

    &:hover {
      color: $cGrayPrimary;
    }
  }
}

.phone {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__title {
    text-transform: capitalize;
    margin-top: 16px;
    margin-bottom: 38px;

    font-family: "Mont", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 140%;
    color: $cGrayPrimary;
  }

  &__image-main {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    // background-color: black;
    margin-bottom: 23px;
  }

  &__image-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  &__image-option {
    border: solid $cGrayElements 1px;
    border-radius: 4px;
    width: 49px;
    height: 47px;
  }

  &__image {
    width: 50px;
    height: 40px;
    background-color: black;
  }
}
