.counter {
  position: relative;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__img {
    position: relative;
  }

  &__number {
    position: absolute;
    box-sizing: border-box;
    width: 14px;
    height: 14px;
    background-color: $cBlueAccent;
    border: 1px solid $cWhite;
    border-radius: 50%;

    font-family: "Mont", Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 9px;
    line-height: 12px;
    text-align: center;
    left: 9px;
    bottom: 9px;

    color: $cWhite;
  }
}
