.addToCartFav {
  &__add {
    width: 160px;
    height: 40px;
    border-radius: 48px;

    color: $cWhite;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0;
    text-align: center;
    background-color: $cBlueAccent;
    border: none;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #6b48ff;
      cursor: pointer;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    }
  }

  &__add--added {
    border: 1px solid $cGrayElements;
    color: $cBlueAccent;
    background: $cWhite;

    &:hover {
      color: white;
      border: 1px solid $cGrayElements;
    }
  }

  &__buttons {
    padding-top: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__like-button {
    width: 40px;
    height: 40px;
    border: 1px solid $cGrayIcon;
    border-radius: 48px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: $cWhite;
    // border: none;
    padding: 0;
    cursor: pointer;

    &:hover {
      border: 1px solid $cGrayPrimary;

    }

  }
}
