.productTable {
  max-width: 1200px;
  padding: 30px 0 80px;

  &__path {
    display: flex;
    align-items: center;

    &__homeIcon {
      height: 14.67px;
      width: 13.33px;
      background-color: yellow;
      // background-image: url('./Plus.svg');
    }

    &__arrow {
      height: 9.33px;
      width: 5.33px;
      margin: 0 14.67px 0 13.33px;
      background-color: yellow;
      // background-image: url('./Plus.svg');
    }

    &__text {
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      color: #89939A;
    }
  }

  &__heading {
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 8px;
    color: #0F0F11;

    @media (max-width: 639px) {
      font-size: 32px;
      line-height: 41px;
      letter-spacing: -0.01em;
    }
  }

  &__modelsCount {
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    color: #89939A;

    margin-bottom: 40px;
  }

  &__selects {
    display: flex;
    margin-bottom: 24px;

    @media (max-width: 639px) {
      justify-content: center;
    }

    &__sortby {
      width: 176px;
      margin-right: 16px;
    }

    &__itemsOnPage {
      width: 128px;
    }

    &__text {
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;

      color: #89939A;
    }
  }

  &__productList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.icons {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.select {
  height: 40px;
  border: 1px solid #B4BDC4;
  border-radius: 8px;

  &:hover {
    border: 1px solid #89939A;
  }

  &:focus {
    border: 1px solid #0F0F11;
  }

  option:hover {
    background-color: red;
  }
}


.productCard {
  width: 272px;
  height: 506px;

  background: #FFFFFF;
  border: 1px solid #E2E6E9;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  margin-right: 16px;
  margin-bottom: 40px;
}



.pagination-link.is-current {
  background-color: #0F0F11;
  border-color: #0F0F11;
  color: #fff;
}
