.card {
  width: 272px;
  height: 506px;
  padding: 32px;
  background-color: $cWhite;
  display: block;

  margin-bottom: 40px;

  border: 1px solid $cGrayElements;
  border-radius: 8px;
  font-family: "Mont", Arial, Helvetica, sans-serif;

  transition: transform ease-in-out 0.3s;

  &:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.5);
    transform: scale(0.95);
  }

  & * {
    font-family: "Mont", Arial, Helvetica, sans-serif;
  }

  &__img--div {
    width: 208px;
    height: 196px;
    display: flex;
    justify-content: center;
  }

  &__img {
    height: 100%;
    margin: auto;
    transition: all ease-in-out 0.3s;

    &:hover {
      transform: scale(105%);
    }
  }

  &__name {
    padding-top: 24px;
    height: 66px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: left;
  }

  &__prices {
    height: 31px;
    padding: 8px 0 0;
  }

  &__price {
    height: 100%;
    margin: 0;
    margin-right: 8px;
    padding: 0;
    display: inline-block;

    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 140%;
  }

  &__full-price {
    width: 50px;
    height: 28px;
    margin: 0;
    padding: 0;

    display: inline-block;

    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    text-decoration-line: line-through;
    color: $cGraySecondary;
  }

  &__line {
    width: 208px;
    height: 0;
    margin: 20px 0 16px;

    border: 1px solid $cGrayElements;

    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
  }

  &__details {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
  }

  &__label {
    width: 43px;
    height: 15px;

    color: $cGraySecondary;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
  }

  &__value {
    color: $cGrayPrimary;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0;
  }
}
