.home {
  min-width: 370px;
  max-width: 1136px;
  margin: 0 auto;

  &__heading {
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 41px;

    letter-spacing: -0.01em;
    color: $cGrayPrimary;

    margin: 24px 16px;
  }

  &__topSlider {
    height: 340px;
    margin-bottom: 66px;
  }

  &__newSlider {
    margin-bottom: 57px;
  }

  &__categorys {
    margin: 0 16px 56px;

    &__wraper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;

      @media (min-width: 640px) {
        flex-direction: row;
        justify-content: space-evenly;
      }
    }

    &__heading {
      font-style: normal;
      font-weight: 800;
      font-size: 22px;
      color: $cGrayPrimary;

      margin-bottom: 24px;
    }
  }

  .img_bc_1 {
    background-color: #6d6474;
  }
  .img_bc_2 {
    background-color: #8d8d92;
  }
  .img_bc_3 {
    background-color: #973d5f;
  }

  .img_bc {
    overflow: hidden;
    border-radius: 5%;
  }

  &__categorysItem {

    &:hover {
      .home__categorysItem__heading {
        color: gray;
        transform: scale(1.05);
      }

      .home__categorysItem__img {
        transform: scale(1.05);
      }
    }

    &__img {
      width: 288px;
      height: 288px;
      margin-bottom: -5px;

      transition: transform 0.3s ease;

      @media (min-width: 640px) {
        width: 187px;
        height: 187px;
      }

      @media (min-width: 1000px) {
        width: 368px;
        height: 368px;
      }
    }

    &__heading {
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 26px;
      color: $cGrayPrimary;

      transition: all 0.3s ease;
    }

    &__count {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: $cGraySecondary;
    }


  }

  &__hotSlider {
    margin-bottom: 64px;
  }
}

@keyframes align-center {
  from {
    text-align: left;
  }
  to {
    text-align: center;
  }
}
