.header {
  background: #fff;
  box-shadow: 0px 1px 0px #E2E6E9;

  height: 64px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &_link {
    margin: 0 auto;
  }
}

.nav {
  &_list {
    display: flex;
    justify-content: flex-start;
  }

  &_item {
    list-style-type: none;
  }

  &_link {
    font-family: 'Mont';
    font-weight: 800;
    font-size: 12px;

    line-height: 11px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-decoration: none;

    color: #89939A;
  }
}
