.header {
  background: $cWhite;
  box-shadow: 0 1px 0 $cGrayElements;

  height: 64px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  z-index: 10;

  @media (max-width: 1200px) {
    height: 48px;
  }

  &_logo {
    min-width: 80px;
    margin-left: 24px;
    margin-right: 48px;
    text-decoration: none;

    @media (max-width: 1200px) {
      margin-right: 32px;
    }
  }
}

.nav {
  flex-grow: 1;

  @media (max-width: 700px) {
    display: none;
  }

  &_list {
    display: flex;
    justify-content: flex-start;
  }

  &_item {
    list-style-type: none;
    margin-right: 64px;

    @media (max-width: 1200px) {
      margin-right: 32px;
    }
  }

  &_link {
    font-weight: 800;
    font-size: 12px;

    line-height: 11px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-decoration: none;
    padding-bottom: 20px;

    height: 100%;
    color: $cGraySecondary;

    transition: color 0.3s;

    &:hover {
      color: $cGrayPrimary;
    }
  }
}

.header__actions {
  display: flex;
  align-items: center;
}

.action {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  width: 64px;
  border-left: 1px solid $cGrayElements;

  @media (max-width: 1200px) {
    height: 48px;
    width: 48px;
  }

  @media (max-width: 700px) {
    display: none;
  }

  &--favourites {
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 40%;
      height: 40%;
      background: radial-gradient(ellipse at center,
      rgba(244, 186, 71, 1) 0%,
      rgba(244, 186, 71, 0.5) 40%,
      rgba(244, 186, 71, 0.2) 80%);
      border-radius: 50%;
      box-shadow: 0 0 10px 5px rgba(244, 186, 71, 0.3);
      z-index: -1;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }

    &:hover::before {
      opacity: 1;
    }
  }

  &--cart {
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 40%;
      height: 40%;
      background: radial-gradient(ellipse at center,
      rgba(138, 102, 255, 0.9) 0%,
      rgba(202, 172, 255, 0.7) 40%,
      rgba(138, 102, 255, 0.2) 80%);
      border-radius: 50%;
      box-shadow: 0 0 10px 5px rgba(138, 102, 255, 0.3);
      z-index: -1;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }

    &:hover::before {
      opacity: 1;
    }
  }
}

.burger-button {
  box-sizing: border-box;
  display: none;
  height: 48px;
  width: 48px;

  box-shadow: -1px 0 0 $cGrayElements;
  border-bottom: 2px solid transparent;

  transition: border 0.3s;

  @media (max-width: 700px) {
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:hover {
    border-bottom: 2px solid $cGrayPrimary;
  }
}

.is-active {
  position: relative;
  color: $cGrayPrimary;
}

@keyframes menuFadeIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.is-active:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  top: 36px;
  display: block;
  background: $cGrayPrimary;
  animation: menuFadeIn 0.3s ease-in-out;

  @media (max-width: 1200px) {
    top: 28px;
  }
}

.menu-open {
  overflow: hidden;
}

.header__top {
  height: 64px;

  @media (max-width: 1200px) {
    height: 48px;
  }
}

.authorization_icon {
  height: 26px;
  width: 26px;
}

.authorization {
  border-bottom: 2px solid transparent;

  transition: border 0.3s;

  @media (max-width: 700px) {
    display: flex;

    &:hover {
      border-bottom: 2px solid $cGrayPrimary;
    }
  }

  @media (min-width: 700px) {
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 40%;
      height: 40%;
      background: radial-gradient(ellipse at center,
      rgba(56, 105, 219, 0.9) 0%,
      rgba(123, 162, 238, 0.7) 40%,
      rgba(56, 105, 219, 0.2) 80%);
      border-radius: 50%;
      box-shadow: 0 0 10px 5px rgba(56, 105, 219, 0.3);
      z-index: -1;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }

    &:hover::before {
      opacity: 1;
    }
  }
}

.userLogin {
  display: flex;

  &_icon {
    height: 30px;
    width: 30px;
  }

  &_email {
    font-weight: 800;
    font-size: 20px;

    height: 100%;
    color: $cGraySecondary;

    align-self: center;
    margin-right: 1rem;

    @media (max-width: 920px) {
      display: none;
    }
  }

  // @media (max-width: 680px) {
  //   display: none;
  // }
}
