.cart__item {
  display: flex;
  align-items: center;

  padding: 24px;

  @media (max-width: 640px) {
    flex-direction: column;
    height: 160px;
  }

  &-wrapper {
    display: flex;
    align-items: center;

    @media (max-width: 640px) {
      width: 100%;
      justify-content: space-between;
    }
  }

  &-close_button {
    color: #b4bdc3;
    margin-right: 34px;
  }

  &-close_img {
    height: 10px;
    width: 10px;
  }

  &-image--comtainer {
    padding: 7px;
    margin-right: 24px;
  }

  &-image--picture {
    height: 66px;
    width: 66px;
  }

  &-name {
    font-family: "Mont", Arial, sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;

    color: #0f0f11;

    margin-right: 24px;
    flex-grow: 0;
  }

  &-wrapper-counter {
    display: flex;
    align-items: center;
  }

  &-button {
    cursor: pointer;
    height: 32px;
    min-width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #e2e6e9;
    border-radius: 50%;

    margin-right: 13px;
    transition: all 0.3, ease;

    :hover {
      height: 32px;
      min-width: 32px;
      border: 2px solid $cBlueAccent;
      border-radius: 50%;
    }

    :active {
      border: 4px solid $cBlueAccent;
    }
  }

  &-count {
    font-family: "Mont", Arial, sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: center;

    color: #000;

    margin-right: 13px;
  }

  &-price {
    font-family: "Mont", Arial, sans-serif;
    font-weight: 800;
    font-size: 22px;
    line-height: 140%;

    color: #0f0f11;

    margin-left: 40px;
  }
}
