.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);

  &__top {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px 0;
    text-align: center;
    font-weight: 700;
    letter-spacing: -0.01em;
    color: $cGrayPrimary;
    font-size: 16px;
    line-height: 18px;
  }

  &_wrapper {
    width: 320px;
    box-sizing: border-box;
    padding: 16px;
    background: $cWhite;
    border: 1px solid rgba(226, 230, 233, 1);
    border-radius: 16px;
  }

  &_close {
    width: 35px;
    height: 30px;
    border: 1px solid #4219d0;
    border-radius: 48px;
    background-color: transparent;
    cursor: pointer;
    color: #4219d0;
    transition: background-color 0.3s,
      color 0.3s;
    margin-top: -15px;

    &:hover {
      background-color: #4219d0;
      color: #fff;
    }
  }

  &_title {
    width: 95%;
    margin: 0 auto 16px;
    margin-left: 50px;
    text-align: center;
    font-weight: 700;
    letter-spacing: -0.01em;
    color: #4219d0;
    font-size: 30px;
    line-height: 18px;
  }

  &_btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &_btn {
    display: block;
    padding: 12px;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    margin-top: 15px;
    text-align: center;
    color: #4219d0;
    border: 1px solid #4219d0;
    border-radius: 16px;
    background: $cGrayElements;
    cursor: pointer;

    transition: box-shadow 0.5s,
      color 0.5s;

    &:hover {
      box-shadow: 0 3px 13px 0 rgba(23, 32, 49, 0.4);
      color: $cWhite;
      background-color: #4219d0;
    }
  }
}
