.recommended-container {
  position: relative;
  max-width: 1136px;
  height: 577px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  overflow: hidden;

  @media (max-width: 1199px) {
    margin-left: 24px;
  }

  @media (max-width: 639px) {
    margin-left: 16px;
  }

  @media (min-width: 1300px) {
    margin: 0 auto;
  }
}

.recommended-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;

  &-title {
    font-family: 'Mont', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 41px;

    letter-spacing: -0.01em;

    color: #0F0F11;

    @media (max-width: 639px) {
      font-size: 22px;
      line-height: 140%;
    }
  }

  &-buttons {
    width: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    @media (max-width: 1199px) {
      margin-right: 24px;
    }

    @media (max-width: 639px) {
      margin-left: 16px;
    }
  }
}

.swiper {
  display: flex;
  align-items: center;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;

  &-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    transition-timing-function: var (--swiper-wrapper-transition-timing-function,
        initial);
  }

  &-slide {
    flex-shrink: 0;
    min-width: 265px;
    max-width: 272px;
    position: relative;
    transition-property: transform;
    display: block;
  }
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

.recommended-button {
  box-sizing: border-box;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;

  border: 1px solid #B4BDC4;
  border-radius: 48px;
  cursor: pointer;
  background-color: transparent;
}

.swiper-button-disabled {
  cursor: auto;
  border: 1px solid #E2E6E9;
}
